<div class='container-fluid'>
  <div class="row p-4">
    <div class="col">
      <h4 class="text-center text-primary font-weight-bold">About this mini-Forum</h4>
      <p class="text-center">Ask any question about nutrition or health in general a,d our expert will answer you!</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 p-4">
      <% @questions.each do |q| %>
        <div class="media mb-2">
            <img src="<%= q.gravatar %>" class="mr-3" alt="avatar">
            <div class="media-body">
              <h5 class="mt-0 mb-0"><%= q.email %> asked:</h5>
              <div class="text-secondary"><%= time_ago_in_words q.created_at %> ago ..</div>
              <%= q.body %>
            </div>
        </div>
        <a href="<%= question_path(q) %>" class="btn btn-outline-dark btn-sm btn-block mb-4">
          Clic here to View the expert's answers
        </a>
      <% end %>
    </div>
    <div class="col">
    </div>
  </div>
</div>
